/* COMMON */

body {
  font-family: 'sk-modern';
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  position: relative;
  /* width: 1100px; */
  width: 76vw;
  margin: 0 auto;
}
@font-face {
  font-family: 'sk-modern';
  src: url('font/Sk-Modernist/Sk-Modernist-Regular.otf');
}
@font-face {
  font-family: 'sk-modern-bold';
  src: url('font/Sk-Modernist/Sk-Modernist-Bold.otf');
}

/* HEADER */
header {
  width: 100%;
  background-color: #111111;
}
header .inner {
  width: 80%;
  /* height: 120px; */
  height: 8.25vw;
  /* background-color: pink; */
}
header .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -3.85vw;
  margin: auto;
  height: 6.877vw;
  width: 6.877vw;
}
header .logo img {
  /* filter for white img */
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(216deg)
    brightness(103%) contrast(101%);
  width: 100%;
  height: 100%;
}
header ul.main-menu {
  position: absolute;
  right: 0;
  bottom: 1.37vw;
  display: flex;
}
header ul.main-menu li {
  padding: 0.83vw 1.73vw;
}
header ul.main-menu li:hover {
  cursor: pointer;
}
header ul.main-menu li .menu-name {
  font-size: 1.25vw;
  color: #dbdbdb;
}
header ul.main-menu li:hover .menu-name {
  color: white;
}
header .badges {
  position: fixed;
  top: 20vw;
  right: 1.5vw;
  width: 5.5vw;
  height: 7vw;
  background-color: #111;
  border-radius: 0.69vw;
  /* border-radius: 0.62em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9;
  /* border: 2px solid #ff8200; */
  /* display: none; */
  transition: scale 0.7;
}
header .badges:hover {
  transform: scale(1.1);
  cursor: pointer;
}
header .badges .material-icons {
  font-size: 3.47vw;
  color: #ff8200;
  /* background-color: green; */
}
header .badges .badge {
  color: #ff8200;
  font-size: 1.11vw;
}

/* VISUAL */
.visual {
  background-image: url('images/visual-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 45vw;
  color: #dbdbdb;
  /* overflow: hidden; */
}
.visual .inner {
  /* height: 45vw; */
}
.visual .title {
  position: absolute;
  top: 5.5vw;
  left: -3.85vw;
  font-size: 4.7vw;
  font-family: 'sk-modern-bold';
}
.visual .title.mobile {
  display: none;
}
.visual .title a {
  font-size: 5.96vw;
  background-image: linear-gradient(
    430deg,
    #4bc8fe 0%,
    #994bfe 46%,
    #ff8200 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}
.visual .feature {
  position: absolute;
  top: 22vw;
  left: -3.47vw;
  display: flex;
}
.visual .feature .feature-box {
  font-weight: 700;
  font-size: 1.388vw;
  margin-right: 0.5em;
  padding: 0.6em 1.5em;
  border: 2px solid #dbdbdb;
  border-radius: 3.5em;
  display: flex;
  align-items: center;
}
.visual .feature .feature-box:hover {
  color: #111111;
  background-color: #dbdbdb;
  border-color: #dbdbdb;
  cursor: pointer;
}
.visual .explain {
  position: absolute;
  top: 26.2vw;
  left: -3.47vw;
}
.visual .explain p {
  color: #dbdbdb;
  font-family: 'sk-modern';
  font-size: 1.52vw;
  line-height: 150%;
}
.visual .btn-project {
  position: absolute;
  top: 32.3vw;
  left: -3.47vw;
  color: #111111;
  background-color: #dbdbdb;
  padding: 1em 1.5em;
  border-radius: 2.5em;
  font-family: 'sk-modern-bold';
  font-size: 1.388vw;
}
.visual .btn-project:hover {
  background-color: #111111;
  color: #dbdbdb;
  cursor: pointer;
  border: 3px solid #dbdbdb;
}
.visual .fade-in {
  opacity: 0;
}

.visual .person {
  position: absolute;
  right: 5vw;
  top: 10.3vw;
  font-size: 1.11vw;
  border-radius: 2.5em;
  width: 25vw;
  height: 25vw;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 30);
}
.visual .person img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  filter: grayscale(100%);
}

/* PROJECT */
.project {
  background-color: rgb(255, 254, 244);
  height: 68.7vw;
  width: 100%;
  /* 100vw하면 가로가 더 길어짐 */
  overflow: hidden;
  /* display: none; */
}
.project .project-name {
  height: 15%;
  font-size: 2.77vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project .swiper {
  position: relative;
  /* width: calc(620px * 3 + 20px); */
  width: calc(43vw * 3 + 1.388vw);

  left: 50%;
  /* margin-left: calc((620px * 3 + 20px) / -2); */
  margin-left: calc((43vw * 3 + 1.388vw) / -2);
  /* height: 345px; */
  height: 23.7vw;
  /* background-color: pink; */
}
.project .swiper.down {
  margin-top: 1.5vw;
}
.project .swiper .swiper-wrapper {
  transition-timing-function: linear;
}
.project .swiper .swiper-wrapper .swiper-slide {
  border-radius: 1.25em;
  overflow: hidden;
  opacity: 0.5;
  transition: opacity 1s;
  position: relative;
}

.project .swiper .swiper-wrapper .swiper-slide:hover,
.project .swiper .swiper-wrapper .swiper-slide-active {
  opacity: 1;
  /* hover시 투명도 1 */
  /* 가운데만 투명도 1로 설정하기 */
}
.project .swiper .swiper-wrapper .swiper-slide a {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 620px; */
  width: 43vw;
  /* height: 345px; */
  height: 24vw;
}
.project .swiper .swiper-wrapper .swiper-slide a img {
  width: 100%;
  height: 100%;
}
.project .swiper .swiper-wrapper .swiper-slide:hover a img {
  transform: scale(1.2);
}
.project .review-btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.project .review-btn {
  margin-top: 2vw;
  padding: 1em 2em;
  /* padding: 1em 1.5em; */
  font-size: 1.388vw;
  border: 3px solid #ff8200;
  border-radius: 3.5em;
  /* left: 50%;
  margin-left: calc(10% / -2); */
  /* display: flex; */
  /* justify-content: center; */
  background-color: #ff8200;
  font-weight: 700;
  color: rgb(255, 254, 244);
}
.project .review-btn:hover {
  cursor: pointer;
  background-color: rgb(255, 254, 244);
  color: #ff8200;
  border-color: #ff8200;
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: scale(1.1);
  /* transform: translateY(-0.25em); */
}

/* REVIEW */
.review {
  width: 100%;
  background-color: #111111;
  position: relative;
  /* height: 1300px; */
  /* height: 90vw; */
  transition: all 0.6s;
  overflow: hidden;
  opacity: 1;

  /* height: 0; */
}
.review.hide {
  height: 0;
  opacity: 0;
}
.review .inner {
  /* position: relative; */
  /* height: inherit; */
  height: 90vw;
  /* background-color: #994bfe; */
}
.review h2 {
  /* height: 0; */
  /* display: block; */
  color: #dbdbdb;
  position: relative;
  height: 12%;
  width: 100%;
  /* top: 7%; */
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 40px; */
  font-size: 2.77vw;
  font-weight: 700;
  /* display: block; */
  /* height: 0; */
}
.review h2::after {
  content: '';
  position: absolute;
  top: 90%;
  width: 10%;
  height: 2px;
  background-color: #994bfe;
}
.review .content {
  /* background-color: pink; */
  margin-top: 4vw;
}
.review .content > ul {
  /* display: flex; */
}
.review .content > ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.review .content > ul li img {
  border-radius: 1.388vw;
  width: 27.7vw;
  height: 10.7vw;
}
.review .content > ul li .contents-text {
  /* width: 580px; height:200px  */
  width: 40.2vw;
  height: 13.88vw;
  color: #dbdbdb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review .content > ul li .contents-text h4 {
  color: rgb(255, 254, 244);
  font-size: 1.66vw;
  font-weight: 700;
  margin-bottom: 1%;
}
.review .content > ul li .contents-text .name {
  margin-bottom: 3%;
}
.review .content > ul li .contents-text p {
  line-height: 1.2em;
  font-size: 1.11vw;
  /* word-break: keep-all; */
}

/* PROCESS */
.process {
  width: 100%;
  /* background-color: #994bfe; */
  /* height: 620px; */
  height: 43vw;
}
.process .inner {
  height: 100%;
  /* background-color: #ff8200; */
  /* height: inherit; */
  display: flex;
  flex-direction: column;
}
.process h2 {
  position: relative;
  font-size: 2.77vw;
  font-weight: 700;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process .contents {
  position: relative;
  width: 100%;
  height: 70%;
}
.process .contents > ul {
  /* background-color: #ff8200; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.process .contents > ul > li ul {
  display: flex;
  justify-content: space-between;
  /* background-color: #4bc8fe; */
}
.process .contents > ul > li ul li {
  width: 30%;
  /* background-color: #994bfe; */
}
.process .contents > ul > li ul li .num {
  font-size: 2.43vw;
  font-weight: 700;
  margin-bottom: 5%;
}
.process .contents > ul > li ul li p {
  font-size: 1.11vw;
  line-height: 1.2em;
  line-height: 1.332vw;
}

/* PACKAGE */
.package {
  width: 100%;
  height: 55.5vw;
  background-color: rgb(241, 241, 237);
  /* z-index: -2; */
}
.package .inner {
  height: inherit;
  width: 88vw;
  /* z-index: 0; */
}
.package h2 {
  font-size: 2.77vw;
  font-weight: 700;
  /* background-color: pink; */
  display: flex;
  width: 100%;
  height: 15%;
  justify-content: center;
  align-items: center;
}
.package .inner > ul {
  /* position: relative; */
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}

.package .inner > ul .item-container {
  overflow: hidden;
  position: relative;
  width: 32%;
  border-radius: 35px;
  font-size: 1.11vw;
  border-radius: 2.18em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 10px #6666669a;
}
.package .inner > ul .item-container::before {
  position: absolute;
  content: '';
  z-index: 0;
  top: -13%;
  left: -45%;
  width: 195%;
  height: 125%;
  border-radius: 36px;
  background: linear-gradient(132deg, #cbeef7, #4bc8fe 60%, #34a2d1);
  animation: spin 2.5s linear infinite;
}
.package .inner > ul .item-container:nth-child(2):before {
  background: linear-gradient(132deg, #fdefb6, #f07b32 60%, #ff8200);
}
.package .inner > ul .item-container:nth-child(3):before {
  background: linear-gradient(132deg, #eeb6ff, #ba37f1 60%, #9312a4);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.package .inner > ul .item-container .item {
  /* padding: 0 3%; */
  width: 97%;
  height: 98%;
  position: relative;
  border-radius: 30px;
  border-radius: 2vw;
  background-color: WHITE;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.package .item .item-name {
  position: relative;
  font-size: 2vw;
  font-weight: 600;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.package .item-container .item-name::after {
  content: '';
  position: absolute;
  top: 100%;
  width: 30%;
  height: 1.5px;
  background-color: #4bc8fe;
}
.package .item-container:nth-child(2) .item-name::after {
  background-color: #ff8200;
  width: 40%;
}
.package .item-container:nth-child(3) .item-name::after {
  background-color: #994bfe;
  width: 20%;
}
.package .item-container .item > ul {
  /* position: absolute; */
  height: 55%;
  display: flex;
  flex-direction: column;
  padding: 7% 0;
  justify-content: space-between;
}
.package .item > ul li.text {
  display: flex;
  align-items: center;
}
.package .item > ul li .text div {
  font-size: 1.11vw;
  height: 1.388vw;
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-left: 0.2em;
}
.package .item > ul li img {
  width: 1.388vw;
  height: 1.388vw;
}
.package .item-container:first-child .text .cancel {
  color: #6666;
}
.package .item-container .item .price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.package .price-box .price {
  font-size: 2vw;
  font-weight: 700;
  margin-bottom: 1vw;
}
.package-btn {
  background-color: #4bc8fe;
  font-size: 1.11vw;
  padding: 0.7em 1.5em;
  border-radius: 1.25vw;
  color: white;
  font-weight: 700;
}
.package-btn.orange {
  background-color: #ff8200;
}
.package-btn.purple {
  background-color: #994bfe;
}
.package-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: white;
  color: black;
  border: 1px solid #4bc8fe;
}
.package-btn.orange:hover {
  border-color: #ff8200;
}
.package-btn.purple:hover {
  border-color: #994bfe;
}

.package .third-package-text {
  position: relative;
  margin: 5% 0;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.package .third-package-text .subtitle {
  font-size: 1.11vw;
}

.package .third-package-text .text-box {
  margin-top: 2%;
  display: flex;
  width: 95%;
  /* justify-content: space-between; */
  justify-content: center;
  height: 75%;
}
.package .third-package-text .text-box li {
  width: 100%;
}
.package .third-package-text .text-box li ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.package .third-package-text .text-box .text {
  height: 10%;
  width: 90%;
  display: flex;
  font-size: 1.11vw;
  align-items: center;
  margin-bottom: 3px;
  margin-bottom: 0.18em;
  border: 2px solid white;
}
.package .third-package-text .text-box .text:hover {
  border-color: #994bfe;
  border-radius: 1.25em;
  cursor: pointer;
}
.package .third-package-text .text-box .package-option.clicked {
  background-color: #994bfe;
  font-size: 1.11vw;
  border-radius: 20px;
  border-radius: 1.25em;
}
.package .third-package-text .text-box .text img {
  width: 1.388vw;
  height: 1.388vw;
  font-size: 1.11vw;
  margin-left: 0.4em;
}
.package .third-package-text .text-box .text p {
  font-size: 1.11vw;
  height: 1.388vw;
  margin-left: 0.2em;
}
.package .third-package-text .estimate-price-box {
  margin-top: 2%;
  width: 100%;
  height: 17%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.package .estimate-price-box .estimate-price {
  display: flex;
  align-items: center;
  font-size: 1.66vw;
  font-weight: 700;
}
.package .estimate-price-box .estimate-price .text {
  width: 12.5vw;
}
.package .estimate-price-box .estimate-price .result {
  font-size: 2.1vw;
  width: 8.33vw;
  display: flex;
  justify-content: center;
}

/* FAQ */
.faq {
  margin: 3vw 0;
}
.faq .inner {
}
.faq h2 {
  position: relative;
  font-size: 2.77vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq h2::after {
  content: '';
  position: absolute;
  top: 150%;
  width: 10%;
  height: 1.5px;
  background-color: #f07b32;
}
.faq .faq-container {
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.faq .faq-container .question-box {
  width: 48.6vw;
}
.faq .faq-container .question-box .question {
  font-size: 1.11vw;
  padding: 1em 1em 1em 2.5em;
  padding: 1.11vw 1.11vw 1.11vw 2.7vw;
  display: flex;
  align-items: center;
  border: 3px solid grey;
  border-radius: 0.62em;
  margin-bottom: 0.5em;
}
.faq .faq-container .question:hover {
  cursor: pointer;
  border-color: black;
}
.faq .faq-container .question.clicked {
  border-color: black;
}
.faq .faq-container .question .text {
  font-size: 1.388vw;
  font-weight: 700;
  flex-grow: 1;
}
.faq .faq-container .question .material-icons {
  font-size: 2.77vw;
  margin-right: 0.2em;
  color: #4bc8fe;
}
.faq .faq-container .answer {
  font-size: 1.11vw;
  color: grey;
  padding: 0.5em 1.5em 1.5em 1.5em;
  line-height: 1.3em;
  overflow: hidden;
}
.faq .faq-container .answer span {
  font-weight: 700;
  color: black;
}
.faq .faq-container .answer.hide {
  height: 0;
  padding: 0;
}

/* CONTACT */
.contact {
  background-color: rgb(241, 241, 237);
  padding: 3vw 0;
  width: 100%;
  /* display: none; */
}

.contact h2 {
  position: relative;
  font-size: 2.77vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact h2::after {
  content: '';
  position: absolute;
  top: 150%;
  width: 10%;
  height: 1.5px;
  background-color: #4bc8fe;
}
.contact .contact-box {
  height: 34.7vw;
  padding: 5vw 0 3vw 0;
  box-sizing: border-box;
  position: relative;
  /* top: 5vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: pink; */
}
.contact .contact-box input {
  font-size: 1.25vw;
  display: block;
  border-radius: 0.69vw;
  outline: none;
  border: 1px solid #111111;
  padding-left: 1em;
  box-sizing: border-box;
  width: 90%;
  height: 15%;
  color: #333;
  /* background-color: gray; */
}
.contact .contact-box .message {
  font-size: 1.25vw;
  color: #333;
  /* font-weight: 700; */
  display: block;
  border-radius: 0.69vw;
  outline: none;
  border: 1px solid #111111;
  padding: 0.5em 1em;
  box-sizing: border-box;
  width: 90%;
  height: 50%;
}
.contact .contact-btn-box .contact-btn {
  border: none;
  padding: 0.7em 2em;
  font-size: 18px;
  font-size: 1.25vw;
  border-radius: 40px;
  border-radius: 2.7vw;
  background-color: #111;
  color: white;
}
.contact .contact-btn-box .contact-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
/* FOOTER */
footer {
  background-color: #111111;
}
footer img {
  width: 1.388vw;
  height: 1.388vw;
}
footer .inner {
  padding: 2.5vw 0;
}
footer .info {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  font-size: 1.11vw;
}
footer .left .logo-name {
  display: flex;
  align-items: center;
}
footer .left .logo-name img {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(216deg)
    brightness(103%) contrast(101%);
  width: 2vw;
  height: 2vw;
}
footer .left .time {
  display: flex;
  align-items: center;
}
footer .left .time .material-icons {
  font-size: 1.388vw;
  margin: 0 0.3vw 0 0.3vw;
}
footer .right .link1 {
  display: flex;
  justify-content: center;
}
footer .right .link1 a {
  margin-right: 1em;
}
footer .right .link2 .email {
  color: white;
  height: 2vw;
  display: flex;
  align-items: center;
}
footer .right .link2 .phone {
  height: 1.388vw;
  display: flex;
  align-items: center;
}
footer .copyright {
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

/* TO Top BUTTON */
#to-top {
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  z-index: 9;
  width: 2.9vw;
  height: 2.9vw;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0.69vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#to-top .material-icons {
  font-size: 2vw;
}

@media screen and (max-width: 768px) {
  /* HEADER */
  header {
    /* background-color: pink; */
  }
  header .inner {
    /* padding-top: 4vw; */
    /* width: 95%; */
    height: 75px;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: red; */
  }
  header .logo {
    position: static;
    margin: 0;
    height: 50px;
    width: 50px;
    height: 13.3vw;
    width: 13.3vw;
  }
  header ul.main-menu {
    position: static;
  }
  header ul.main-menu li .menu-name {
    font-size: 15px;
    /* font-size: 4vw; */
    margin: 0 0.5em;
    font-weight: 700;
  }
  header .badges {
    top: 90vh;
    right: 3vw;
    /* background-color: pink; */
    border-radius: 1.5vw;
    width: 11vw;
    height: 14vw;
  }
  header .badges .material-icons {
    font-size: 8vw;
  }
  header .badges .badge {
    font-size: 2.5vw;
  }

  /* VISUAL */
  .visual {
    height: 400px;
    height: 106.6vw;
  }
  .visual .title.mobile {
    display: block;
    position: absolute;
    top: 13.3vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 8.5vw;
    font-family: 'sk-modern-bold';
  }
  .visual .title.pc {
    display: none;
  }
  .visual .title a {
    font-size: 10vw;
  }
  .visual .feature {
    position: absolute;
    top: 40vw;
    left: 0vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .visual .feature .feature-box {
    font-weight: 700;
    font-size: 13px;
    margin: 0.7vw 0;
    padding: 2vw 5vw;
    border-radius: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .visual .person {
    position: absolute;
    right: 0vw;
    top: 37vw;
    font-size: 1.11vw;
    border-radius: 7vw;
    width: 35vw;
    height: 35vw;
  }
  .visual .explain {
    position: absolute;
    top: 80vw;
    left: -12vw;
    margin-left: 5vw;
    width: 90vw;
    display: flex;
    justify-content: center;
  }
  .visual .explain p {
    font-size: 13px;
    font-size: 3.46vw;
    font-size: 3.05vw;
    line-height: 1.2em;
  }
  .visual .btn-project {
    position: absolute;
    top: 90vw;
    padding: 1em 1.5em;
    border-radius: 2.5em;
    font-family: 'sk-modern-bold';
    font-size: 14px;
    font-size: 3.5vw;
    left: -12vw;
    left: 38vw;
    /* margin-left: 50vw + 17vw; */
    margin-left: -17vw;
  }

  /* PROJECT */
  .project {
    height: 600px;
    height: 150vw;
    /* background-color: #34a2d1; */
  }
  .project .project-name {
    font-family: 'sk-modern-bold';
    font-weight: 400;
    position: relative;
    font-size: 25px;
    height: 20%;
  }
  .project .project-name::after {
    position: absolute;
    content: 'click to discover the full projects';
    font-family: 'sk-modern';
    top: 70%;
    font-weight: 400;
    font-size: 16px;
    margin: 0.5vw 0;
  }
  .project .swiper {
    position: static;
    left: 0;
    right: 0;

    margin: 0 auto;
    width: 380px;
    width: 89.4vw;
    height: 211px;
    height: 49.6vw;
    /* width: calc(43vw * 3 + 1.388vw); */

    /* left: 50%; */
    /* margin-left: calc((620px * 3 + 20px) / -2); */
    /* margin-left: calc((43vw * 3 + 1.388vw) / -2); */
    /* height: 345px; */

    /* background-color: pink; */
  }
  .project .swiper .swiper-wrapper {
    transition-timing-function: linear;
  }
  .project .swiper .swiper-wrapper .swiper-slide {
    border-radius: 1.25em;
    overflow: hidden;
    opacity: 1;
    transition: opacity 1s;
    position: relative;
  }
  .project .swiper .swiper-wrapper .swiper-slide a {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 620px; */
    width: 89.4vw;
    /* height: 345px; */
    height: 49.6vw;
  }
  .project .review-btn {
    margin-top: 3vw;
    padding: 1em 2em;
    /* padding: 1em 1.5em; */
    font-size: 3.5vw;
    border: 3px solid #ff8200;
    border-radius: 3.5em;
    /* left: 50%;
    margin-left: calc(10% / -2); */
    /* display: flex; */
    /* justify-content: center; */
    background-color: #ff8200;
    font-weight: 400;
    font-family: 'sk-modern-bold';
    color: rgb(255, 254, 244);
  }

  /* REVIEW */
  .review .inner {
    height: 550px;
    height: 210vw;
    width: 90vw;
    /* background-color: #34a2d1; */
  }
  .review h2 {
    font-family: 'sk-modern-bold';
    font-weight: 400;
    font-size: 25px;
    /* background-color: #34a2d1; */
    height: 15%;
  }
  .review h2::after {
    content: '';
    position: absolute;
    top: 80%;
    width: 45%;
    height: 2px;
    background-color: #994bfe;
  }

  .review .content > ul li img {
    border-radius: 1.388vw;
    width: 27.7vw;
    height: 10.7vw;
    display: none;
  }
  .review .content > ul li .contents-text {
    /* background-color: #34a2d1; */
    width: 100%;
    height: 100%;
    /* height: 13.88vw; */
    color: #dbdbdb;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* font-size: ; */
    margin-bottom: 4vw;
  }
  .review .content > ul li .contents-text h4 {
    color: rgb(255, 254, 244);
    font-size: 20px;
    font-size: 4.7vw;
    font-family: 'sk-modern-bold';
    margin-bottom: 1.5vw;
  }
  .review .content > ul li .contents-text .name {
    margin-bottom: 3%;
    font-size: 3.76vw;
  }
  .review .content > ul li .contents-text p {
    line-height: 1.2em;
    font-size: 12px;
    font-size: 3vw;
    /* word-break: keep-all; */
  }
  /* PROCESS */
  .process {
    height: 270vw;
    /* background-color: #34a2d1; */
  }
  .process .inner {
    width: 90%;
  }
  .process h2 {
    position: relative;
    font-size: 25px;
    font-size: 5.8vw;
    font-weight: 700;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
  }
  .process .contents {
    /* background-color: #ba37f1; */
    height: 75%;
  }
  .process .contents > ul {
    /* background-color: pink; */
    /* justify-content: center; */
    display: block;
  }
  .process .contents > ul > li ul {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* background-color: yellowgreen; */
  }
  .process .contents > ul > li ul li {
    width: 100%;
    margin-bottom: 3vw;
    /* background-color: #994bfe; */
  }
  .process .contents > ul > li ul li .num {
    font-size: 30px;
    font-size: 7vw;
    font-family: 'sk-modern-bold';
    margin-bottom: 3%;
  }
  .process .contents > ul > li ul li p {
    font-size: 16px;
    font-size: 3.76vw;
    line-height: 1.2em;
    /* line-height: 1.332vw; */
  }

  /* PACKAGES */
  .package {
    height: 400vw;
  }
  .package h2 {
    font-size: 25px;
    font-size: 5.88vw;
    font-size: 27px;
    font-family: 'sk-modern-bold';
    height: 7%;
  }
  .package .inner > ul {
    /* position: relative; */
    /* background-color: #4bc8fe; */
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
  }
  .package .inner > ul .item-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    /* background-color: pink; */
    height: 33%;
    height: 900px;
    border-radius: 1px;
    font-size: 1.11vw;
    border-radius: 2.18em;
    border-radius: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px #6666669a;
  }
  .package .inner > ul .item-container .item {
    /* padding: 0 3%; */
    width: 94%;
    height: 96%;
    position: relative;
    border-radius: 30px;
    border-radius: 7vw;
    background-color: WHITE;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .package .item .item-name {
    position: relative;
    font-size: 20px;
    font-size: 4.7vw;
    font-weight: 600;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .package .item-container .item > ul {
    /* background-color: yellow; */
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 7% 0;
    justify-content: space-between;
  }
  .package .item > ul li img {
    width: 18px;
    height: 18px;
    width: 4.2vw;
    height: 4.2vw;
  }
  .package .item > ul li.text div {
    font-size: 14px;
    font-size: 3.3vw;
    /* background-color: pink; */
  }
  .package .price-box .price {
    font-size: 20px;
    font-size: 4.7vw;
    font-weight: 700;
    margin-bottom: 1vw;
  }
  .package-btn {
    background-color: #4bc8fe;
    font-size: 15px;
    font-size: 3.5vw;
    padding: 0.7em 1.5em;
    border-radius: 6vw;
    color: white;
    font-weight: 700;
  }
  .package .third-package-text .subtitle {
    font-size: 13px;
  }
  .package .third-package-text .text-box .package-option.clicked {
    /* font-size: 1.11vw;
    border-radius: 20px; */
    border-radius: 3vw;
  }
  .package .third-package-text .text-box .text img {
    width: 4.2vw;
    height: 4.2vw;
    font-size: 1.11vw;
    margin-left: 0.4em;
  }
  .package .third-package-text .text-box .text p {
    /* display: block; */
    font-size: 3.3vw;
    height: 3.3vw;
    margin-left: 0.2em;
    /* background-color: pink; */
  }
  .package .estimate-price-box .estimate-price {
    /* background-color: pink; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vw;
    font-weight: 700;
  }
  .package .estimate-price-box .estimate-price .text {
    width: 40%;
    /* background-color: #4bc8fe; */
  }
  .package .estimate-price-box .estimate-price .result {
    font-size: 4.7vw;
    /* background-color: palegreen; */
    width: 30%;
    display: flex;
    justify-content: center;
  }
  .package .estimate-price-box .package-btn {
    /* background-color: #34a2d1; */
    margin-top: 1.5vw;
  }
}
